<section class="about">
  <h2>La familia del bonsái</h2>
  <p>En <a href="#">La familia del bonsái</a>,
    En La familia del bonsai, somos expertos apasionados en transformar espacios a través del del arte del bonsai y la jardinería. Somos una empresa familiar que hemos crecido junto con nuestra pasión. Lo que comenzó como un hobby, se ha transformado en una trayectoria profesional que se refleja en cada detalle de nuestros proyectos. A lo largo de los años, hemos adquirido una experiencia única que combina tradición e innovación. Nuestro legado se basa en años de aprendizaje y dedicación, y cada servicio que brindamos está impregnado de esa historia familiar. Con cada proyecto, buscamos no solo embellecer su entorno, sino también transmitir la esencia y el compromiso que nos han definido como familia y como profesionales.</p>
</section>
