.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url('/assets/images/hero-background.webp') no-repeat center center/cover;
  height: 100vh;
  padding: 50px;
  color: white;
}

.hero-content {
  max-width: 50%;
}

.hero h1 {
  font-size: 2.8rem;
  font-weight: bold;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.social-icons img.whatsapp:hover {
  content: url('/assets/icons/whatsapp2.svg');
}

.social-icons img.instagram:hover {
  content: url('/assets/icons/instagram2.svg');
}

.social-icons img.telegram:hover {
  content: url('/assets/icons/telegram2.svg');
}

.hero-image img {
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #d2c6b2;
}
