<section class="hero">
  <div class="hero-content">
    <h1>Transformamos sus <br> Espacios en Entornos <br> Armoniosos</h1>
    <div class="social-icons">
      <a href="https://www.instagram.com/la_familia_del_bonsai?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="assets/icons/instagram.svg" alt="Instagram" class="instagram"></a>
      <a href="https://whatsapp.com/channel/0029VaHjEYjA89Mrmf2zPv2K"><img src="assets/icons/whatsapp.svg" alt="Whatsapp" class="whatsapp"></a>
      <a href="https://t.me/@Dreamcatchersboy"><img src="assets/icons/telegram.svg" alt="Telegram" class="telegram"></a>
    </div>
  </div>
  <div class="hero-image">
    <img src="assets/images/hero-bonsai.webp" alt="Bonsái">
  </div>
</section>
